.banner-area {
    height: auto;
    .banners {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        .banner {
            padding: 30px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 640px;
            width: 100%;
            .img {
                width: 290px;
                height: 310px;
                img {
                    width: 290px;
                    height: 310px;
                }
            }
            .btn {
                border-radius: 9px;
                display: flex;
                border: 1px solid black;
                width: 191px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.6s;
            }
            .btn:hover {
                color: rgb(14, 178, 178);
                border: 1px solid rgb(14, 178, 178);
            }
            .content {
                .title {
                    margin-bottom: 10px;
                    color: black;
                    transition: all 0.6s;
                }
                .desc {
                    color: gray;
                    transition: all 0.6s;
                }
                .title:hover {
                    color: rgb(14, 178, 178);
                }
                .desc:hover {
                    color: rgb(14, 178, 178);
                }
            }
        }
    }
}
@media (width <= 80rem) {
    .banners {
        flex-direction: column;
        .banner {
            .content {
                width: 60%;
            }
        }
    }
}
